@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    text-decoration-line: line-through;
    opacity: 0.3;
  }
}

html,
body {
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  animation: fadeIn 2s;
  color: #ecf0f1;
  background-color: #7f8c8d;
}

div.clock-container {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.clock-container span {
  font-size: 100px;
  font-weight: 700;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

input {
  color: white;
  padding: 5px 0;
}

input.getUserName:focus::placeholder,
div.todo-container input:focus::placeholder {
  color: transparent;
}

div.user-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.user-container input {
  border: none;
  text-align: center;
  font-size: 40px;
  background-color: transparent;
}

div.user-container span {
  font-size: 40px;
  font-weight: 500;
}

div.todo-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: #e2e2e2;
}

div.todo-container form {
  display: flex;
  justify-content: center;
}

div.todo-container input {
  width: 80%;
  text-align: center;
  border: none;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 30px;
  background-color: transparent;
}

div.todo-container li {
  list-style: none;
  animation: fadeIn 2s;
  font-size: 30px;
}

div.todo-container__list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
}

div.todo-container__list li {
  margin-bottom: 20px;
}

div.todo-container__list span:not(.toDoList),
div.todo-container__list span:not(.doneList) {
  margin-left: 15px;
  margin-right: 20px;
}

div.todo-container__list span:first-child {
  margin-bottom: 40px;
}

span.toDoList i:hover,
span.doneList i:hover {
  cursor: pointer;
  color: #95a5a6;
}

span.toDoList li {
  animation: fadeIn 1s;
}

span.doneList li {
  animation: fadeOut 1s;
  text-decoration-line: line-through;
  opacity: 0.3;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div.js-weather {
  display: flex;
  height: 60px;
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0.6;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: white;
  font-size: 20px;
}

div.js-weather img {
  width: 40px;
  height: 40px;
}
